body{
    text-align: center;
    background-color: black;
}
#board{
    height: 700px;
    width: 800px;
    background-color: red;
    border: 5px solid purple;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
}
.bill{
    height: 60px;
    width: 65px;
    background-color: white;
    border-radius: 49%;
    margin:4px;
    border: 4px solid pink;
}
.red-chip {
    background-color: skyblue;
}
.yellow-chip {
    background-color: brown;
}
.win{
    font-size: 35px;
    color: springgreen;
}
h1{
    color: darkgreen
} 
p{
    font-size: 35px;
    color: aqua;
}